nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}

h2 {
  font-size: 20px;
}

div {
  font-weight: 600;
}

@media (min-width: 376px) {
  nav {
    padding: 1.75rem 5rem;
  }
}

:host-context(.light) nav {
  background-color: var(--l-element);
}

:host-context(.dark) nav {
  background-color: var(--d-element);
}
